# Python Features

## Basic Types

In [ ]:
# Basic types
# Strings are sequences of characters, using the syntax of either single or double quotes
name = 'Tariq'     # type(name) = str
# Integers are whole numbers
age = 22           # type(age) = int
# Floats are numbers with a decimal point
height = 6.1       # type(height) = float
# Booleans represent one of two values: True or False
is_student = True  # type(is_student) = bool

In [20]:
print(f"Hello world! My name is {name}, I am {age} years old and {height} feet tall. It is {is_student} that I am a student.")

Hello world! My name is Bobby, I am 25 years old and 6.1 feet tall. It is True that I am a student.

## Collections

In [21]:
# Collections
favorites = ['banana', 'apple', 'orange'] # type(favorites) = list
favorites = ('banana', 'apple', 'orange') # type(favorites) = tuple
favorites = {'banana', 'apple', 'orange'} # type(favorites) = set
favorites = { # type(favorites) = dict
    'sport': 'baseball',
    'number': 42,
    'fruit': ['banana', 'apple', 'orange'],
    'type': dict
}

In [22]:
print(f"My favorite sport is {favorites['sport']} and my favorite fruit is {favorites['fruit'][0]}.")

My favorite sport is baseball and my favorite fruit is banana.

## Operators

### Arithmetic

In [ ]:
# Arithmetic
a = 10
b = 20
# Arithmetic operators use standard mathematical notation
c = a + b   # Addition = 30
d = a - b   # Subtraction = -10
e = a * b   # Multiplication = 200
f = a / b   # Division = 0.5
g = a // b  # Floor division = 0
h = a % b   # Modulus = 10
i = a ** b  # Exponentiation = 10^20

### Logical

In [ ]:
# What about booleans?
bool1 = True
bool2 = False
# Boolean operators compare statements and return a boolean value
bool3 = not bool1      # Negation = False
bool4 = bool1 and bool2 # Logical AND = False (can also use &)
bool5 = bool1 or bool2  # Logical OR = True (can also use |)
bool6 = bool1 == bool2  # Equality = False
bool7 = bool1 != bool2  # Inequality = True

In [ ]:
# Comparison operators
name1 = 'Renad'
name2 = 'Sam'
age1 = 25
age2 = 30
# Comparison operators compare values and return a boolean value
comp1 = name1 == name2 # Equality = False
comp2 = name1 != name2 # Inequality = True
comp3 = age1 < age2    # Less than = True
comp4 = age1 > age2    # Greater than = False
comp5 = age1 <= age2   # Less than or equal to = True
comp6 = age1 >= age2   # Greater than or equal to = False

### Indexing

In [24]:
# Indexing and slicing lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = list1 + list2  # Concatenation = [1, 2, 3, 4, 5, 6]
list4 = list1 * 3      # Repetition = [1, 2, 3, 1, 2, 3, 1, 2, 3]
list5 = list1[0]       # Indexing = 1
list6 = list1[1:3]     # Slicing = [2, 3]
list7 = list1[-1]      # Negative indexing = 3
list8 = list1[-3:]     # Negative slicing = [1, 2, 3]

In [25]:
# What about strings?
str1 = "Hello"
str2 = "World"
str3 = str1 + " " + str2  # Concatenation = "Hello World"
str4 = str1 * 3           # Repetition = "HelloHelloHello"
str5 = str1[0]            # Indexing = "H"
str6 = str1[1:3]          # Slicing = "el"
str7 = str1[-1]           # Negative indexing = "o"
str8 = str1[-3:]        # Negative slicing = "llo"

## Functions

Python has many built-in functions for doing basic operations like summing, explicitly creating variables, and iterating.

In [14]:
# The most basic function...
print("Hello world!") # Output: Hello world!

Hello world!

In [15]:
# Basic functions for collections
sum([1, 2, 3, 4, 5]) # 15
max([1, 2, 3, 4, 5]) # 5
min([1, 2, 3, 4, 5]) # 1
len([1, 2, 3, 4, 5]) # 5

5

In [ ]:
# Helpful functions for strings
str1 = "Hello world!"
str2 = str1.lower() # "hello world!"
str3 = str1.upper() # "HELLO WORLD!"
str4 = str1.split(' ') # ["Hello", "world!"]
str5 = str1.replace('world', 'universe') # "Hello universe!"
str6 = ' & '.join(['apples', 'bananas', 'oranges']) # "apples & bananas & oranges"

In [ ]:
# Creating our own functions
def add(a, b):
    return a + b
add(10, 20) # 30

## Conditional Statements

In [ ]:
# Conditional statements allow us to execute code based on certain conditions
favorites = ['banana', 'apple', 'orange']
# Do I like bananas?
test_case = 'banana'
if test_case in favorites:
    print(f"{test_case} is one of my favorite fruits.")
else:
    print(f"{test_case} is not one of my favorite fruits.")

banana is one of my favorite fruits.

Let's make it a bit more complex with an example...

In [ ]:
# Conditional statements
student1 = {
    'name': 'Renad',
    'age': 25,
    'score': 94
}
student2 = {
    'name': 'Sam',
    'age': 30,
    'score': 53
}

In [ ]:
# A slightly more complex example...
if student1['score'] > student2['score']:
    print(f"{student1['name']} has a higher score than {student2['name']}.")
elif student1['score'] < student2['score']:
    print(f"{student2['name']} has a higher score than {student1['name']}.")
else:
    print(f"{student1['name']} and {student2['name']} have the same score.")

Let's add some more students. Having lots of variables like `student1`, `student2`, etc. is not very convenient. Instead, let's use a `list` of students!

In [ ]:
students = [
    {
        'name': 'Renad',
        'age': 25,
        'score': 94,
        'program': 'Media'
    },
    {
        'name': 'Sam',
        'age': 30,
        'score': 53,
        'program': 'Computer Science'
    },
    {
        'name': 'Tariq',
        'age': 22,
        'score': 85,
        'program': 'Media'
    },
    {
        'name': 'Caleb',
        'age': 27,
        'score': 74,
        'program': 'Computer Science'
    },
    {
        'name': 'Sereen',
        'age': 23,
        'score': 88,
        'program': 'Engineering'
    },
    {
        'name': 'Layla',
        'age': 29,
        'score': 90,
        'program': 'Engineering'
    }
]

In [ ]:
# Loops allow us to iterate over collections