# Load Dependencies

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# How to Load Data

## Creating dataframes from scratch

In [4]:
# Create a dataframe from scratch
data = {
    'name': ['John', 'Anna', 'Peter', 'Linda'],
    'location': ['New York', 'Paris', 'Berlin', 'London'],
    'age': [24, 13, 53, 33]
}
df = pd.DataFrame(data)
df

    name  location  age
0   John  New York   24
1   Anna     Paris   13
2  Peter    Berlin   53
3  Linda    London   33

## Loading Excel Files

# Data Cleanup

## Data Diagnostics

## Data Types

## Dealing with Missing Data

## Data Formatting

# Exporting Data

## Basic Exports

## Advanced Exports